h1 File Metadata Microseervice
p Enter a file to upload and get the returned size of file.
a(href="https://freecodecamp.org") freecodecamp.org



form(method="post",enctype="multipart/form-data",action="/")
	
	p
		input(type="file",name="upl")
	p
		input(type="submit")
